@model IEnumerable<MisProvincias.Models.Provincia>

@{
    ViewData["Title"] = "Listado de Provincias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mb-4 text-center">Listado de Provincias</h1>

<div class="d-flex justify-content-center mb-3">
    <a class="btn btn-success btn-sm"
       asp-action="Provincia_Detalle"
       asp-controller="Home"
       asp-route-id="0">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
        </svg>
        Crear Nuevo
    </a>
</div>

<hr />

<table class="table table-striped table-bordered text-center">
    <thead class="table-secondary">
        <tr>
            <th>IdProvincia</th>
            <th>Nombre</th>
            <th>Capital</th>
            <th>Animal</th>
            <th>Planta</th>
            <th>Fecha Baja</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="@(item.FechaBaja.HasValue ? "table-danger" : "")">
                <td>@item.IdProvincia</td>
                <td>@item.Nombre</td>
                <td>@item.Capital</td>
                <td>@item.ObAnimal?.Nombre</td>
                <td>@item.ObPlanta?.Nombre</td>
                <td>
                    @if (item.FechaBaja.HasValue)
                    {
                        @item.FechaBaja.Value.ToString("dd/MM/yyyy")
                    }
                    else
                    {
                        <span class="text-muted">-</span>
                    }
                </td>
                <td>
                    @if (!item.FechaBaja.HasValue)
                    {
                        <a asp-action="Provincia_Detalle" asp-route-id="@item.IdProvincia" class="btn btn-primary btn-sm me-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
                            </svg>
                            Editar
                        </a>

                        <a asp-action="Confirmacion" asp-route-id="@item.IdProvincia" class="btn btn-danger btn-sm">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                            </svg>
                            Dar de baja
                        </a>
                    }
                    else
                    {
                        <span class="text-danger fw-bold">Dada de baja</span>

                    }
                </td>
            </tr>
        }
    </tbody>
</table>