@model MisProvincias.Models.ViewModelss.ProvinciaVM
@{
    ViewData["Title"] = "Provincia_Detalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center mt-4">
    <div class="col-sm-8 col-md-6">
        <div class="card shadow-lg border-0 rounded-3">
            <div class="card-header bg-primary text-white text-center rounded-top">
                @if (Model.ObProvincia.IdProvincia == 0)
                {
                    <h3 class="mb-0"><i class="bi bi-plus-circle"></i> Crear Provincia</h3>
                }
                else
                {
                    <h3 class="mb-0"><i class="bi bi-pencil-square"></i> Editar Provincia</h3>
                }
            </div>

            <div class="card-body">
                <form id="formProvincia" method="post">
                    @Html.AntiForgeryToken()
                    <input type="hidden" asp-for="ObProvincia.IdProvincia" />

                    <!-- Provincia -->
                    <div class="mb-3">
                        <label asp-for="ObProvincia.Nombre" class="form-label">
                            Provincia <span class="text-danger">*</span>
                        </label>
                        <input asp-for="ObProvincia.Nombre" class="form-control" />
                        <span asp-validation-for="ObProvincia.Nombre" class="text-danger small"></span>
                    </div>

                    <!-- Capital -->
                    <div class="mb-3">
                        <label asp-for="ObProvincia.Capital" class="form-label">
                            Capital <span class="text-danger">*</span>
                        </label>
                        <input asp-for="ObProvincia.Capital" type="text" class="form-control" />
                        <span asp-validation-for="ObProvincia.Capital" class="text-danger small"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="ObProvincia.IdAnimal" class="form-label">
                            Animal <span class="text-danger">*</span>
                        </label>
                        <select asp-for="ObProvincia.IdAnimal"
                                asp-items="@Model.ObListaAnimales"
                                class="form-select">
                            @if (Model.ObProvincia.IdProvincia == 0)  //Solo aparace para CREAR
                            {
                                <option value="">--SELECCIONAR--</option>
                            }
                        </select>
                        <span asp-validation-for="ObProvincia.IdAnimal" class="text-danger small"></span>
                    </div>

                    <!-- Planta -->
                    <div class="mb-3">
                        <label asp-for="ObProvincia.IdPlanta" class="form-label">
                            Planta <span class="text-danger">*</span>
                        </label>
                        <select asp-for="ObProvincia.IdPlanta"
                                asp-items="@Model.ObListaPlantas"
                                class="form-select">
                            @if (Model.ObProvincia.IdProvincia == 0)   // Solo aparace para CREAR
                            {
                                <option value="">--SELECCIONAR--</option>
                            }
                        </select>
                        <span asp-validation-for="ObProvincia.IdPlanta" class="text-danger small"></span>
                    </div>
                    

                    <!-- Botones -->
                    <div class="text-center mt-4">
                        @if (Model.ObProvincia.IdProvincia == 0)
                        {
                            <button class="btn btn-success w-50 shadow-sm" type="submit">
                                <i class="bi bi-check-circle"></i> Cargar
                            </button>
                        }
                        else
                        {
                            <button type="button" id="btnActualizar" class="btn btn-success w-50 shadow-sm">
                                <i class="bi bi-arrow-repeat"></i> Actualizar
                            </button>
                        }

                        <a class="btn btn-secondary ms-2 w-25 shadow-sm" asp-action="Index" asp-controller="Home">
                            <i class="bi bi-arrow-left-circle"></i> Volver
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#btnActualizar').click(function (e) {
                e.preventDefault();

                const token = $('input[name="__RequestVerificationToken"]').val();

                const formData = $('#formProvincia').serialize();

                $.ajax({
                    url: '@Url.Action("ActualizarProvincia", "Home")',
                    type: 'PUT',
                    data: formData,
                    headers: {
                        'RequestVerificationToken': token
                    },
                   success: function () {
                       window.location.href = '@Url.Action("Index", "Home")';
                    },
                   error: function (xhr) {
                        alert('Error al actualizar: ' + xhr.statusText);
                    }
                });
            });
        });
    </script>
}

